@import "../themes/mocha.css";

* {
    font-family: "Hack Nerd Font";
    font-size: 10px;
    text-shadow: none;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: @mantle;
    border-bottom: 0px solid #ffffff;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left {
    background-color: @mantle;
    border-radius: 15px;
    border: 3px solid @lavender;
    opacity: 0.8;
}

#workspaces {
    background: @mantle;
    border-radius: 15px;
    opacity: 0.8;
    color: @mantle;
}

#workspaces button {
    padding: 0px 5px;
    margin: 7px 5px;
    border-radius: 15px;
    border: 0px;
    color: @lavender; 
    background-color: @lavender; 
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @lavender;
    background: @lavender;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @lavender;
    background: @lavender;
    border-radius: 15px;
    opacity:0.7;
}

tooltip {
    border-radius: 10px;
    background-color: @mantle;
    opacity: 1;
    padding: 10px;
    margin: 0px;
}

tooltip label {
    color: @lavender;
    font-size: 16px;
}

#custom-logo {
    background-color: @lavender;
    color: @mantle;
    border-radius: 15px;
    padding: 0px 10px 0px 5px;
    margin: 3px 0px 3px 0px;
    opacity: 0.9;
    border: 3px solid @mantle;
    transition: all 0.3s ease-in-out;
}

#custom-logo:hover {
    background-color: @mantle;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 10px 0px 5px;
    margin: 3px 0px 3px 0px;
    opacity: 0.9;
    border: 3px solid @lavender;
}

#battery {
    background-color: @mantle;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @lavender;
    transition: all 0.3s ease-in-out;
}

#battery:hover {
    background-color: @lavender;
    color: @mantle;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @mantle;
}

#battery.charging {
    background-color: @green;
    color: @mantle;
    border: 3px solid @mantle;
}

#battery.warning:not(.charging) {
    background-color: @yellow;
    color: @mantle;
    border: 3px solid @mantle;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @mantle;
    border: 3px solid @mantle;
}

#clock {
    background-color: @mantle;
    color: @lavender; 
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @lavender;
    transition: all 0.3s ease-in-out;
}

#clock:hover {
    background-color: @lavender;
    color: @mantle;
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @mantle;
}

#custom-appmenu {
    background-color: @mantle;
    color: @lavender;
    margin: 10px;
    padding: 0px 10px 0px 7px;
    transition: all 0.3s ease-in-out;
}

#custom-appmenu:hover {
    background-color: @lavender;
    color: @mantle;
    border-radius: 10px;
    padding: 0px 10px 0px 7px;
}

#cpu {
    background-color: transparent;
    color: @lavender;
    border-radius: 15px;
}

#memory {
    background-color: transparent;
    color: @lavender;
    border-radius: 15px;
}

#temperature {
    background-color: transparent;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 15px 0px 0px;
}

#disk {
    background-color: transparent;
    color: @lavender;
    border-radius: 15px;
}

window#waybar.empty #window {
    background-color:transparent;
    border: None;
}

#network {
    background-color: @mantle;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @lavender;
    transition: all 0.3s ease-in-out;
}

#network:hover {
    background-color: @lavender;
    color: @mantle;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @mantle;
}

#bluetooth {
    background-color: @mantle;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 10px 0px 8px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @lavender;
    transition: all 0.3s ease-in-out;
}

#bluetooth:hover {
    background-color: @lavender;
    color: @mantle;
    border-radius: 15px;
    padding: 0px 10px 0px 8px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @mantle;
}

#pulseaudio {
    background-color: @mantle;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity:0.8;
    border: 3px solid @lavender;
    transition: all 0.3s ease-in-out;
}

#pulseaudio:hover {
    background-color: @lavender;
    color: @mantle;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @mantle;
}
