@import "./mocha.css";

* {
    font-family: "Hack Nerd Font";
    font-size: 12px;
    text-shadow: none;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: @mantle;
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    background: @mantle;
    margin: 2px 1px 3px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    color: @mantle;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @lavender; 
    background-color: @lavender; 
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @lavender;
    background: @lavender;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @lavender;
    background: @lavender;
    border-radius: 15px;
    opacity:0.7;
}

tooltip {
    border-radius: 10px;
    background-color: @lavender;
    opacity: 0.9;
    padding: 10px;
    margin: 0px;
}

tooltip label {
    color: @mantle;
    font-size: 16px;
}

#custom-logo {
    background-color: @lavender;
    color: @mantle;
    border-radius: 15px;
    padding: 0px 10px 0px 5px;
    margin: 3px 0px 3px 0px;
    opacity: 0.9;
    border: 3px solid @mantle;
}

#battery {
    background-color: @mantle;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @lavender;
}

#clock {
    background-color: @mantle;
    color: @lavender; 
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @lavender;
}

#custom-appmenu {
    background-color: @mantle;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 8px 0px 5px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @lavender;
}

#network {
    background-color: @mantle;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
    border: 3px solid @lavender;
}

#pulseaudio {
    background-color: @mantle;
    color: @lavender;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 3px 0px 3px 0px;
    opacity:0.8;
    border: 3px solid @lavender;
}

#pulseaudio.muted {
    background-color: @mantle;
    color: @lavender;
}