configuration {
    display-drun: "Apps:";
    display-windows: "Windows:";
    drun-display-format: "{icon} {name}";
    font: "Hack Nerd Font";
    modi: "window,drun";
    show-icons: true;
    icon-theme: "Papirus";
    show-columns: 1;
}

@theme "/home/knappen/.local/share/rofi/themes/catppuccin-mocha.rasi"
