@import "../themes/mocha.css";

* {
    font-family: "Hack Nerd Font", monospace;
    background-image: none;
    box-shadow: none;
}

window {
    background: url("noise.png");
    background-size: cover;
}

button {
    color: @lavender;
    font-size:15px;
    opacity: 0.9;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;

    border-style: solid;
    background-color: @mantle;
    border: 3px solid @lavender;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
    color: white;
    background-color: @mantle;
    border: 3px solid white;
    opacity: 1;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
    margin: 5px;
    border-radius: 10px;
    background-image: image(url("icons/lock.png"));
}

#logout {
    margin: 5px;
    border-radius: 10px;
    background-image: image(url("icons/logout.png"));
}

#suspend {
    margin: 5px;
    border-radius: 10px;
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    margin: 5px;
    border-radius: 10px;
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    margin: 5px;
    border-radius: 10px;
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    margin: 5px;
    border-radius: 10px;
    background-image: image(url("icons/reboot.png"));
}
